<!DOCTYPE html>
<html>
<head>
<title>Vue-2.0</title>
</head>
<body>


	<div id="root">
		
		<ul>
			<li v-for="name in names" v-text="name"></li>
		</ul>

		<input id="input" type="text" v-model=newName>

		<button @click=addNames>add name</button>

	</div>
	
	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>

	<script>
		
		var app = new Vue({

			el:"#root",
			data: {

				newName : '',
				names : ['Noman', 'Mahmud', 'Hasan','Murad']
			},



			methods: {

				addNames() {
					
					this.names.push(this.newName);

					this.newName = '';
				}
			}


		});

		

	</script>


</body>
</html>
